.main {
  position: relative;
}

.main__title {
  display: flex;
  height: 200px;
  justify-content: center;
  z-index: 999;
  position: relative;
}

.main__background {
  display: block;
  position: absolute;
  color: #000000;
  opacity: 20%;
  font-size: 20px;
  height: 100%;
  width: 100%;
  z-index: 0;
  max-width: 1240px;
  overflow: hidden;
  pointer-events: none;
  margin: 0 100px 0 100px;
}

.header__img {
  height: 200px;
}
