* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  color: #000000;
}

.page {
  max-width: 1440px;
  min-height: 100vh;
  background-color: #f5f6f7;
}

.page__content {
  width: 1440px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
