* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  color: #000000;
  html {
    scroll-behavior: smooth;
  }
  width: 100%;
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f6f7;
}

.page__content {
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
