.mission {
  max-width: 1240px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 740px;
  bottom: 43px;
  width: 500px;
}

.mission__title {
  display: flex;
  justify-content: center;
}

.mission__info {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  background: rgba(255, 255, 255, 0.85);
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.15);
  backdrop-filter: blur(328px);
  text-align: center;
  transition: transform 0;
}
