.services {
  display: flex;
  flex-direction: column;
  position: relative;
}

.services__return-btn {
  position: absolute;
  top: 42px;
  left: 97px;
  background-color: transparent;
  border: 1px solid;
}

.services__return-btn:hover {
  background-color: rgba(0, 0, 0, 0.149);
}

.services__header {
  width: 100%;
  background-color: rgba(255, 192, 203, 0.241);
}

.services__title {
  margin: 30px auto 20px 100px;
  padding-left: 95px;
}

.services__description {
  margin: 0 auto 20px 100px;
}
/* services form */
.services__form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 50px 0 50px 0;
  width: 600px;
  border: 1px solid #00000068;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.services__form-title {
  margin: 0;
  font-size: 30px;
}

.services__form-description {
  margin: 0;
}

.services__form-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.services__form-list-item:last-child {
  width: 400px;
}

.services__form-label {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.services__form-inputs {
  margin: 0;
  width: 100%;
  padding: 20px;
}
.services__form-input {
  margin: 0;
  padding: 5px;
  background-color: rgba(255, 192, 203, 0.241);
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 219px;
}

.services__form-input-description {
  margin: 0;
  padding: 5px;
  background-color: rgba(255, 192, 203, 0.241);
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
}

.services__form-preview-btn {
  background-color: transparent;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
}

.services__form-preview-btn:hover {
  background-color: rgba(255, 192, 203, 0.615);
}

/* image uploader */

.services__img-upload {
  display: flex;
  flex-direction: column;
  border: 1px dashed rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 100%;
  height: 200px;
  margin: 0 0 40px 0;
}

.services__img-upload-preview {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.services__img-upload-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.services__img-upload-btn:hover {
  background-color: rgba(255, 192, 203, 0.615);
}

/*services preview card */

.services__card-preview {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
}

.services__card-preview-img-container {
  background-color: rgba(255, 192, 203, 0.241);
  width: 100%;
  display: flex;
  justify-content: center;
}

.services__card-preview-img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 50px 0 50px 0;
}

.services__card-preview-block {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.services__card-preview-title {
  margin: 20px 0 0 0;
  font-size: 20px;
  font-size: 30px;
  padding-left: 20px;
}

.services__card-preview-subtitle {
  margin: 20px 0 0 0;
  font-size: 20px;
  font-size: 20px;
  padding-left: 20px;
}

.services__card-preview-description {
  opacity: 50%;
  margin: 15px 0 15px 0;
  padding: 0 20px 0 20px;
  max-width: 500px;
  max-height: 100px;
  overflow-y: auto;
}

.services__card-preview-price-booknow-container {
  display: flex;
  width: 500px;
}

.services__card-preview-price {
  margin: 15px auto 20px 0;
  padding-left: 20px;
}

.services__card-preview-booknow {
  background-color: transparent;
  border: 1px solid #575555b7;
  border-radius: 10px;
  margin: 0 20px 20px 0;
}

/* cancel submit btns for form */

.services__form-btns {
  display: flex;
  width: 100%;
  margin: 15px 0 0 0;
}

.services__form-cancel-btn {
  background-color: transparent;
  border: 1px solid #575555b7;
  border-radius: 10px;
  margin: 0 15px 0 auto;
}

.services__form-cancel-btn:hover {
  background-color: rgba(0, 0, 0, 0.112);
}

.services__form-submit-btn {
  background-color: rgba(95, 92, 92, 0.89);
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 0;
  color: white;
}

.services__form-submit-btn:hover {
  background-color: rgba(255, 192, 203, 0.432);
  color: black;
}
