.bookonline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookonline__header {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgba(255, 192, 203, 0.241);
  padding: 30px 0 30px 0;
}

.bookonline__header-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.bookonline__header-text {
  font-size: 20px;
}

.bookonline__available {
  display: flex;
  flex-direction: column;
  margin: 60px 0 40px 0;
}

.bookonline__services {
}
