.header__nav {
  display: flex;
  margin: 10px auto 10px auto;
  max-width: 59%;
}

.header__nav-container {
  display: flex;
}

.header__nav-btn {
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.header__nav-btn:hover {
  background-color: gray;
  color: white;
}

.header__nav-btn-link {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
}

.header__nav-btn-link:hover {
  background-color: gray;
  color: white;
}
