.header__nav {
  display: flex;
  margin: 10px 0 10px 0;
}

.header__nav-links {
  list-style-type: none;
  display: flex;
}

.header__nav-btn {
  background-color: transparent;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
}

.header__nav-btn:hover {
  background-color: gray;
  color: white;
}

.header__nav-btn-link {
  background-color: transparent;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
}

.header__nav-btn-link:hover {
  background-color: gray;
  color: white;
}
