.slideshow-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.slideshow__image {
  height: 440px;
  width: 420px;
  object-fit: cover;
  background-position: center;
  transition: ease-in-out;
  position: absolute;
  top: -84px;
  left: -12px;
}
