.slideshow-container {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow__image {
  height: 480px;
  width: 420px;
  object-fit: cover;
  background-position: center;
  transition: ease-in-out;
  position: absolute;
  top: 110px;
  left: 210px;
}
