.slideshow-container {
  display: flex;
  position: relative;
}

.slideshow__image {
  height: 440px;
  width: 420px;
  object-fit: cover;
  background-position: center;
  transition: ease-in-out;
  position: absolute;
  top: -83px;
  left: 64px;
}
